section {
  display: flex;
  flex-direction: column;
}

.section .main-item {
  height: 698px;
}

.section .sub-item {
  height: 648px;
}

.sub {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 1rem;
}

.main-item,
.sub-item {
  text-align: center;
}

.main-title {
  font-size: 56px;
}

.main-presentation {
  font-size: 28px;
  font-weight: 300;
}

.main-description {
  font-size: 17px;
}

.sub-title {
  font-size: 40px;
}

.sub-presentation {
  font-size: 21px;
}

.link-box {
  width: 100%;
  max-height: 21px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.link-box a {
  font-size: 21px;
}

@media screen and (max-width: 752px) {
  .section .main-item,
  .section .sub-item {
    height: 548px;
  }

  .sub {
    display: block;
    gap: 0;
  }

  .main-title {
    font-size: 36px;
  }

  .main-presentation {
    font-size: 19px;
  }

  .sub-title {
    font-size: 32px;
  }

  .sub-presentation {
    font-size: 19px;
  }

  .link-box a {
    font-size: 17px;
  }
}
