.section div {
  height: 698px;
  border: 1px solid red;
}

.sub {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 752px) {
  .section div {
    height: 548px;
  }

  .sub {
    display: block;
  }
}
