.hero {
  height: 50rem;
  justify-content: flex-end;
  padding-bottom: 7rem;
  background-image: url("/src/images/hero__xlarge.jpg");
  background-size: cover;
  background-position: center;
}

.hero > img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .hero {
    background-image: url("/src/images/hero__medium.jpg");
  }
}

@media screen and (max-width: 768px) {
  .hero {
    background-image: url("/src/images/hero__small.jpg");
  }
}
