.main {
  min-width: 320px;
  position: relative;
}

.content-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.head {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.21875;
  text-align: center;
  word-break: keep-all;
}

.subhead {
  margin-top: 4px;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 0.228px;
  line-height: 25px;
  text-align: center;
  word-break: keep-all;
}

.avail-text {
  color: rgb(134, 134, 139);
  margin-top: 6px;
}

.avail-text-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
}

.cta-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  column-gap: 27px;
  margin-top: 12px;
}

.cta-link {
  color: #06c;
  font-size: 17px;
  cursor: pointer;
}

.cta-link:hover {
  text-decoration: underline;
}

.cta-link::after {
  content: ">";
}

.img-wrapper {
  position: relative;
}

@media screen and (min-width: 735px) {
  .head {
    font-size: 48px;
    line-height: 1.17865;
  }

  .subhead {
    font-size: 24px;
    letter-spacing: 0.009em;
    line-height: 1.29167;
  }

  .cta-link {
    font-size: 19px;
  }
}

@media screen and (min-width: 1069px) {
  .head {
    font-size: 56px;
  }

  .subhead {
    font-size: 28px;
    letter-spacing: 0.004em;
    line-height: 1.10722;
  }

  .cta-link {
    font-size: 21px;
  }
}
