.section-hero {
  height: 713px;
  background-size: 734px 713px;
  background-repeat: no-repeat;
  background-image: url("../../assets/hero_small.jpg");
  background-color: #000;
  background-position: 50%;
  display: flex;
  align-items: flex-end;
}
.section-hero .section-content {
  color: #fff;
  margin-bottom: 100px;
}

.section-hero .section-head {
  margin-top: 70px;
  padding: 0 20px;
}

.section-hero .section-subhead {
  width: 300px;
  margin-top: 20px;
}

.section-hero .section-button-group {
  margin-top: 25px;
}

@media screen and (min-width: 734px) {
  .section-hero {
    background-size: 1068px 922px;
    background-image: url("../../assets/hero_medium.jpg");
    height: 922px;
  }

  .section-hero .section-subhead {
    width: 420px;
  }
}

@media screen and (min-width: 1068px) {
  .section-hero {
    background-size: 1440px 1058px;
    background-image: url("../../assets/hero_large.jpg");
    height: 1013px;
  }

  .section-hero .section-subhead {
    width: 518px;
  }
}
