.unit-macbook-pro {
  background-color: #000;
}

.unit-macbook-pro .content-wrapper {
  color: #f5f5f7;
}

.unit-macbook-pro .unit-top-text {
  font-size: 17px;
  line-height: 1.23536;
  font-weight: 600;
  letter-spacing: -0.022em;
  margin-top: 39px;
  line-height: 1.35296;
  letter-spacing: 0em;
}

.unit-macbook-pro .unit-img {
  background-image: url("../../assets/macbook_pro_13_small.jpg");
  transform: translateY(-160px);
}

@media screen and (min-width: 735px) {
  .unit-macbook-pro .unit-img {
    background-image: url("../../assets/macbook_pro_13_medium.jpg");
    transform: translateY(-160px);
  }
}

@media screen and (min-width: 1069px) {
  .unit-macbook-pro .unit-img {
    background-image: url("../../assets/macbook_pro_13_large.jpg");
    transform: translateY(-170px);
  }
}
