.unit-ipad .content-wrapper {
  position: relative;
  top: 310px;
}

.unit-ipad .unit-top-text {
  font-size: 14px;
  line-height: 1.57143;
  letter-spacing: 0em;
  font-weight: 600;
}

.unit-ipad .unit-img {
  background-image: url("../../assets/promo_ipad_small.jpg");
  transform: translateY(-200px);
}

@media screen and (min-width: 735px) {
  .unit-ipad .unit-img {
    background-image: url("../../assets/promo_ipad_medium.jpg");
    transform: translateY(-150px);
  }
}

@media screen and (min-width: 1069px) {
  .unit-ipad .content-wrapper {
    top: 370px;
  }

  .unit-ipad .unit-img {
    background-image: url("../../assets/promo_ipad_large.jpg");
    transform: translateY(-180px);
  }
}
