@import url('./src/css/reset.css');

@import url('./src/css/nav.css');
@import url('./src/css/main.css');
@import url('./src/css/footer.css');

@import url('./src/css/@share/sectionContent.css');

@import url('./src/css/sections/shopNotice.css');
@import url('./src/css/sections/appleEvent.css');
@import url('./src/css/sections/iphone13Pro.css');

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'sf-fro-kr';
  src: url('./src/assets/fonts/AppleSDGothicNeoL.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'sf-fro-kr';
  src: url('./src/assets/fonts/AppleSDGothicNeoM.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'sf-fro-kr';
  src: url('./src/assets/fonts/AppleSDGothicNeoB.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'sf-fro-kr';
  src: url('./src/assets/fonts/AppleSDGothicNeoEB.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'sf-fro-kr';
  src: url('./src/assets/fonts/AppleSDGothicNeoH.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'sf-fro';
  src: url('./src/assets/fonts/SF-Pro.ttf');
}

body {
  font-family: 'sf-fro-kr sf-pro';
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.022em;
  color: #1d1d1f;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}
