/* Global Styles */

:root {
  --color-white: #ffffff;
  --color-gray-0: #f5f5f7;
  --color-gray-1: #f1f3f5;
  --color-gray-2: #e9ecef;
  --color-gray-3: #dee2e6;
  --color-gray-4: #ced4da;
  --color-gray-5: #adb5bd;
  --color-gray-6: #868e96;
  --color-gray-7: #495057;
  --color-gray-8: #343a40;
  --color-gray-9: #212529;
  --color-black: #000000;
  --color-blue: #2997ff;
  --color-purple: #34283c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: default;
  color: var(--color-gray-9);
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: var(--color-gray-9);
}

li {
  list-style: none;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
}

/* nav */

#global_nav {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  position: fixed;
  width: 100%;
  top: 0;
  height: 44px;
  z-index: 2;
}

#global_nav > .nav_list {
  max-width: 1024px;
  height: inherit;
  display: flex;
  justify-content: space-between;
  padding: 0 22px;
  margin: 0 auto;
}

#global_nav .nav_list_item {
  height: inherit;
}

#global_nav .nav_list_link {
  color: var(--color-gray-0);
  display: inline-block;
  height: inherit;
  padding: 0 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
  letter-spacing: normal;
}

#global_nav .nav_list_icon {
  background-repeat: no-repeat;
  background-size: 16px 44px;
  background-position: center center;
}

#global_nav .link_apple {
  background-image: url('./src/svgs/apple-brands.svg');
}

#global_nav .link_search {
  background-image: url('./src/svgs/scope.svg');
}

#global_nav .link_bag {
  background-image: url('./src/svgs/shopping-bag.svg');
}

/* section */

.headline {
  font-size: 4.5rem;
  letter-spacing: -0.012em;
  font-weight: 500;
}

.subhead {
  font-size: 2rem;
  letter-spacing: 0.004em;
  line-height: 1.125;
  font-weight: 500;
  text-align: center;
  margin-top: 1.25rem;
}

.copy_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link_container {
  margin-top: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link_button {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.02rem;
  min-width: 1.75rem;
  background: none;
  color: var(--color-gray-9);
  border: 2px solid var(--color-gray-9);
  padding: 0.625rem 1rem;
  border-radius: 2.5rem;
}

.link_button:not(:first-child) {
  margin-left: 18px;
}

#section_hero {
  background-image: url('./src/images/hero_large_2x.jpeg');
  background-size: 1440px 1058px;
  background-repeat: no-repeat;
  background-position: 50%;
  max-width: 1440px;
  height: 1013px;
  padding-bottom: 10rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#section_hero .headline {
  color: var(--color-gray-0);
}

#section_hero .subhead {
  max-width: 512px;
  color: var(--color-gray-0);
}

#section_hero .link_button {
  border-color: var(--color-gray-0);
  color: var(--color-gray-0);
}

#section_iphone_13_pro {
  background-color: var(--color-gray-0);
  height: 900px;
  overflow: hidden;
  display: flex;
}

#section_iphone_13_pro .section_content {
  width: 55%;
  padding-left: 2.125rem;
  padding-right: 3.5rem;
  height: inherit;
}

#section_iphone_13_pro .subhead {
  max-width: 610px;
}

#section_iphone_13_pro .image_container {
  position: relative;
}

#iphone_13_pro {
  background-image: url('./src/images/iphone_13_pro_large_2x.jpeg');
  width: 910px;
  height: 996px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 10rem;
}

#section_iphone_13 {
  height: 900px;
  background-color: var(--color-purple);
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}

#section_iphone_13 .section_content {
  display: flex;
  flex-direction: column;
  width: 55%;
  padding-left: 56px;
  padding-right: 34px;
}

#section_iphone_13 .headline {
  color: var(--color-gray-0);
}

#section_iphone_13 .subhead {
  color: var(--color-gray-0);
  max-width: 665px;
  z-index: 1;
}

#section_iphone_13 .link_button {
  color: var(--color-gray-0);
  border-color: var(--color-gray-0);
}

#iphone_13 {
  background-image: url('./src/images/iphone_13_large_2x.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 800px;
  height: 1000px;
  position: relative;
  left: 6.25rem;
}

#footer {
  background-color: var(--color-gray-9);
}

#footer > .content_container {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 34px;
  padding-bottom: 21px;
  position: relative;
}

#footer .footer_shop {
  border-bottom: 1px solid var(--color-gray-6);
  color: var(--color-gray-6);
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.75rem;
}

#footer .footer_shop a {
  color: var(--color-blue);
}

#footer .footer_bottom {
  display: flex;
  justify-content: space-between;
}

#footer .footer_legal {
  color: var(--color-gray-6);
  font-size: 0.75rem;
  display: flex;
}

#footer .footer_legal_links {
  margin-left: 1.875rem;
}

#footer .footer_legal_links a {
  color: var(--color-gray-6);
}

#footer .footer_legal_links a:not(:last-child) {
  border-right: 1px solid var(--color-gray-6);
  padding-right: 0.625rem;
  margin-right: 0.5rem;
}

#footer .footer_locale {
  color: var(--color-gray-6);
  font-size: 12px;
}
