.ipad {
  background-color: #f5f5f7;
}

.ipad .section-contents {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  max-width: 1440px;
  height: 100%;
}

.ipad .section-content {
  width: 50%;
  z-index: 1;
  margin-right: 35px;
}

.ipad .section-content .section-content-description {
  max-width: 540px;
  width: 100%;
}

.ipad .preview-image {
  position: absolute;
  left: 0;
  max-width: 865px;
  width: 60vw;
  height: 100%;
  background-image: url('../../assets/images/ipad__0h4qm01t36qq_large.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  overflow: visible;
  opacity: 0;
}

/* 반응형 */
@media screen and (max-width: 1060px) {
  #global-main section.ipad {
    height: 1030px;
  }

  .ipad .section-contents {
    flex-direction: column;
    justify-content: space-around;
  }

  .ipad .section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    width: 100%;
  }

  .ipad .section-content .section-content-description {
    max-width: 585px;
  }

  .ipad .preview-image {
    position: static;
    background-image: url('../../assets/images/ipad__0h4qm01t36qq_medium.jpg');
    background-position: center;
    height: 100%;
    width: 585px;
  }
}

@media screen and (max-width: 768px) {
  #global-main section.ipad {
    height: 700px;
  }

  .ipad .section-content {
    margin: 0;
  }

  .ipad .section-content .section-content-description {
    max-width: 285px;
  }

  .ipad .preview-image {
    background-image: url('../../assets/images/ipad__0h4qm01t36qq_small.jpg');
    width: 350px;
    height: 334px;
  }
}
