.iphone-13-pro {
  background-color: #f5f5f7;
  overflow: hidden;
}

.iphone-13-pro .section-contents {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  height: 100%;
}

/* 텍스트 컨텐츠 */
.iphone-13-pro .section-content {
  min-width: calc(50% + 80px);
  height: 100%;

  letter-spacing: -0.012em;
  padding-left: 34px;
  padding-right: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iphone-13-pro .section-content .section-content-description {
  max-width: 630px;
}

/* 프리뷰 이미지 */
.iphone-13-pro .preview-image {
  margin-top: 300px;
  min-width: 910px;
  height: 100%;
  background-image: url('../../assets/images/iphone_13_pro__cuke1h6a6seq_large.jpg');
  background-repeat: no-repeat;
  overflow: hidden;
  opacity: 0;
}

/* 반응형 */
@media screen and (max-width: 1060px) {
  .iphone-13-pro .preview-image {
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
    background-image: url('../../assets/images/iphone_13_pro__cuke1h6a6seq_medium.jpg');
    background-position: 50% 0%;
  }

  .iphone-13-pro .section-content .section-content-description {
    max-width: 565px;
  }
}

@media screen and (max-width: 768px) {
  .iphone-13-pro .preview-image {
    margin-top: 85px;
    background-image: url('../../assets/images/iphone_13_pro__cuke1h6a6seq_small.jpg');
    background-position: 50% 0%;
  }

  .iphone-13-pro .section-content .section-content-description {
    max-width: 300px;
  }
}
