.iphone-13 {
  background-color: #34273b;
  overflow: hidden;
}

.iphone-13 .section-contents {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  max-width: 1440px;
  height: 100%;
}

.iphone-13 .section-content {
  width: 50%;
  padding-left: 56px;
  padding-right: 34px;
  z-index: 1;
}

.iphone-13 .preview-image {
  position: absolute;
  width: 100%;
  height: 1300px;
  background-image: url('../../assets/images/iphone_13__do56puty4e4i_large.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  opacity: 0;
}

/* 반응형 */
@media screen and (max-width: 1060px) {
  .iphone-13 .section-contents {
    flex-direction: column;
    justify-content: space-between;
  }

  .iphone-13 .section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    min-height: 50%;
  }

  .iphone-13 .section-content .section-content-description {
    max-width: 585px;
  }

  .iphone-13 .preview-image {
    position: static;
    overflow: visible;
    background-image: url('../../assets/images/iphone_13__do56puty4e4i_medium.jpg');
    width: 150%;
    background-position: bottom;
    min-height: 535px;
  }
}

@media screen and (max-width: 768px) {
  .iphone-13 .section-content .section-content-description {
    max-width: 290px;
  }

  .iphone-13 .preview-image {
    background-image: url('../../assets/images/iphone_13__do56puty4e4i_small.jpg');
    width: 420px;
    min-height: 202px;
  }
}
