.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 1013px;
  overflow: hidden;

  background-size: 3008px 1058px;
  background-image: url(/src/images/hero__xlarge.jpeg);
}

.hero-copy-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255 255 255);
  margin-bottom: 160px;
}

.hero-copy-container h3 {
  margin-top: 20px;
  max-width: 518px;
}

.hero-link {
  margin-top: 40px;
  min-width: 97px;
  padding: 10px 16px;

  border: 2px solid rgb(255 255 255);
  border-radius: 980px;
}

@media only screen and (max-width: 1440px) {
  .hero {
    height: 1013px;

    background-size: 1440px 1058px;
    background-image: url(/src/images/hero__large.jpeg);
  }
  .hero-copy-container {
    margin-bottom: 160px;
  }

  .hero-copy-container h3 {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1068px) {
  .hero {
    height: 922px;

    background-size: 1068px 922px;
    background-image: url(/src/images/hero__medium.jpeg);
  }

  .hero-copy-container {
    margin-bottom: 142px;
  }

  .hero-copy-container h3 {
    max-width: 420px;
  }
}

@media only screen and (max-width: 734px) {
  .hero {
    height: 713px;

    background-size: 734px 713px;
    background-image: url(/src/images/hero__small.jpeg);
  }

  .hero-copy-container {
    margin-bottom: 100px;
  }

  .hero-copy-container h3 {
    max-width: 300px;
  }
}
