.iphone13 {
  background-color: rgb(52, 40, 60);
}

.iphone13-image-container {
  width: 620px;
}

.iphone13-image {
  margin-top: -180px;
  width: 822px;
  height: 1300px;

  background-size: 822px 1300px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(../../images/2_iphone_13__large.jpeg);
}

.iphone13-copy-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 34px;
  padding-right: 56px;
  width: 810px;

  color: rgb(255 255 255);
}

.iphone13-copy-container h2 {
  line-height: 1;
  font-size: 72px;
  font-weight: 600;
  letter-spacing: -0.012em;
}

.iphone13-copy-container h3 {
  margin-top: 20px;
  max-width: 610px;

  line-height: 1.125;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.004em;
  text-align: center;
}

@media only screen and (max-width: 1068px) {
  .iphone13 .promo-container-group {
    flex-direction: column-reverse;
  }

  .iphone13-image-container {
    width: 100%;
    margin-bottom: -100px;
  }

  .iphone13-image {
    margin: 100px auto 0;
    width: 100%;
    height: 535px;
    background-size: 1068px 535px;
    background-image: url(../../images/2_iphone_13__medium.jpeg);
  }

  .iphone13-copy-container {
  }

  .iphone13-copy-container h2 {
    margin-top: 70px;
    line-height: 1.0714285714;
    font-size: 56px;
    letter-spacing: -0.005em;
  }

  .iphone13-copy-container h3 {
    max-width: 665px;
    line-height: 1.1428571429;
    font-size: 28px;
    letter-spacing: -0.04em;
    font-weight: 600;
  }
}

@media only screen and (max-width: 734px) {
  .iphone13-image {
    width: 421px;
    height: 202px;
    background-size: 421px 202px;
    background-image: url(../../images/2_iphone_13__small.jpeg);
  }
  .iphone13-image-container {
    width: 100%;
    margin-bottom: -40px;
  }

  .iphone13-copy-container {
    max-width: 585px;
  }

  .iphone13-copy-container h2 {
    line-height: 1.1;
    font-size: 40px;
  }

  .iphone13-copy-container h3 {
    max-width: 290px;
    line-height: 1.2105263158;
    font-size: 19px;
    letter-spacing: 0.012em;
    font-weight: 600;
  }
}
