.iphone13-pro {
  background-color: rgb(245, 245, 247);
}

.iphone13-pro-image-container {
  width: 0;
}

.iphone13-pro-image {
  margin-top: 150px;
  width: 910px;
  height: 996px;

  background-size: 912px 998px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(/src/images/1_iphone_13_pro__large.jpeg);
}

.iphone13-pro-copy-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 34px;
  padding-right: 56px;
  width: 810px;

  color: rgb(29, 29, 31);
}

.iphone13-pro-copy-container h2 {
  line-height: 1;
  font-size: 72px;
  font-weight: 600;
  letter-spacing: -0.012em;
}

.iphone13-pro-copy-container h3 {
  margin-top: 20px;
  max-width: 610px;

  line-height: 1.125;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.004em;
  text-align: center;
}

@media only screen and (max-width: 1068px) {
  .iphone13-pro-image-container {
    width: 100%;
  }

  .iphone13-pro-image {
    margin: 60px auto 0;
    width: 758px;
    height: 676px;
    background-size: 758px 676px;
    background-image: url(/src/images/1_iphone_13_pro__medium.jpeg);
  }

  .iphone13-pro-copy-container h2 {
    margin-top: 70px;
    line-height: 1.0714285714;
    font-size: 56px;
    letter-spacing: -0.005em;
  }

  .iphone13-pro-copy-container h3 {
    max-width: 565px;
    line-height: 1.1428571429;
    font-size: 28px;
    letter-spacing: -0.01em;
    font-weight: 600;
  }
}

@media only screen and (max-width: 734px) {
  .iphone13-pro-image {
    width: 302px;
    height: 289px;
    background-size: 302px 289px;
    background-image: url(/src/images/1_iphone_13_pro__small.jpeg);
  }

  .iphone13-pro-copy-container {
    max-width: 565px;
  }

  .iphone13-pro-copy-container h2 {
    line-height: 1.1;
    font-size: 40px;
  }

  .iphone13-pro-copy-container h3 {
    max-width: 270px;
    line-height: 1.2105263158;
    font-size: 19px;
    letter-spacing: 0.012em;
    font-weight: 600;
  }
}
