.content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  width: 100%;
}

.content--theme_dark {
  color: white;
}

.content--theme_light {
  color: black;
}

.content__headline {
  font-weight: 600;
  font-size: 40px;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .content__headline {
    font-size: 56px;
  }
}

@media screen and (min-width: 1069px) {
  .content__headline {
    font-size: 72px;
  }
}

.content__subhead {
  font-weight: 600;
  font-size: 19px;
  line-height: 1.2105263158;
  letter-spacing: 0.012em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .content__subhead {
    font-size: 28px;
    line-height: 1.1428571429;
    letter-spacing: 0.007em;
  }
}

@media screen and (min-width: 1069px) {
  .content__subhead {
    font-size: 32px;
    line-height: 1.125;
  }
}

.content__violator {
  color: #6e6e73;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .content__violator {
    font-size: 17px;
  }
}

.content__cta-links {
  display: flex;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.1764805882;
  letter-spacing: -0.022em;
  column-gap: 12px;
}

@media screen and (min-width: 768px) {
  .content__cta-links {
    column-gap: 16px;
  }
}

@media screen and (min-width: 1069px) {
  .content__cta-links {
    column-gap: 24px;
  }
}

.content__cta-link {
  display: inline-block;
  min-width: 97px;
  padding: 10px 16px;
  border: 2px solid white;
  border-radius: 980px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

.content__cta-link--border-color_dark {
  border-color: black;
}
