/* only screen reader */
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* responsive */
/* sm: mobile / md: tablet / lg: desktop */

@media screen and (min-width: 768px) {
  .sm-only {
    display: none !important;
  }
}

@media screen and (max-width: 1023px) {
  .lg-only {
    display: none !important;
  }
}

@media screen and (min-width: 1024px) and (max-width: 767px) {
  .md-only {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .sm-hidden {
    display: none !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .md-hidden {
    display: none !important;
  }
}

@media screen and (min-width: 1024px) {
  .lg-hidden {
    display: none !important;
  }
}
