.main-hero {
  background-image: url('../../images/hero_small.jpg');
  height: 713px;
}

.main-hero-wrapper {
  justify-content: flex-end;
}

.main-hero-content {
  height: 50%;
  justify-content: flex-end;
  margin-bottom: 58px;
  color: white;
}

.main-hero-content .round-button {
  font-weight: 600;
}

@media only screen and (min-width: 433px) {
  .main-hero-content {
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 734px) {
  .main-hero {
    background-image: url('../../images/hero_medium.jpg');
    height: 922px;
  }

  .main-hero .heading3 {
    max-width: 420px;
  }

  .main-hero-content {
    margin-bottom: 142px;
  }
}

@media only screen and (min-width: 1068px) {
  .main-hero {
    background-image: url('../../images/hero_large.jpg');
    height: 1013px;
  }

  .main-hero .content-wrapper {
    flex-direction: column;
  }

  .main-hero .heading3 {
    max-width: 518px;
  }

  .main-hero-content {
    margin-bottom: 142px;
  }
}

@media only screen and (min-width: 1441px) {
  .main-hero {
    background-image: url('../../images/hero_xlarge.jpg');
  }

  .main-hero-content {
    margin-bottom: 142px;
  }
}
