.footer {
  padding: 0 10rem;
  padding-top: 1rem;
  width: 100vw;
  background-color: var(--font-color-gray-400);

  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  letter-spacing: 0.03rem;
  line-height: 0.5rem;
}

.footer .content {
  margin: 0 auto;
  max-width: max-content;
}

.footer .row {
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.footer .row:first-child {
  margin-bottom: 2rem;
}

.footer .col {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.footer .col:not(:first-child) {
  margin-left: 2rem;
}

.footer .menu:not(:first-child) {
  margin-top: 1rem;
}

.footer .title {
  color: var(--font-color-white-200);
  margin-bottom: 1rem;
}

.footer p,
.footer span {
  color: var(--font-color-gray-250);
  margin-bottom: 0.5rem;
}

.footer .copyright {
  border-top: 1px solid var(--font-color-gray-250);
  padding-top: 1rem;
}

.footer .copy-right-menu > span {
  padding: 0 0.5rem;
}

.footer .copy-right-menu > span:not(:first-child) {
  border-left: 1px solid var(--font-color-gray-250);
}

@media screen and (max-width: 1000px) {
  .footer {
    padding: 0;
    padding-top: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .footer {
  }
}
