/* section */

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-height: 713px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--light-text-color);
  overflow: hidden;
}

.section__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.section__copy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section .heading {
  margin-top: 70px;
  margin-bottom: 20px;
}

.section .sub-heading {
  margin-bottom: 25px;
  max-width: 270px;
}

.section .cta-buttons {
  margin-bottom: 58px;
}

.section__bg-image {
  position: relative;
  top: 32px;
}

/* others */

.heading {
  font-family: 'SF Pro KR';
  padding: 0 20px;
  text-align: center;
  font-size: 34px;
  font-weight: 600;
  line-height: 1.1em;
}

.sub-heading {
  text-align: center;
  letter-spacing: 0.012em;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3157894737;
}

.cta-buttons {
  display: flex;
  justify-content: center;
}

.cta-button {
  color: var(--light-text-color);
  border: 2px solid var(--light-text-color);
  padding: 10px 16px;
  font-weight: 600;
  border-radius: 980px;
  min-width: 135px;
}

.cta-button:not(:last-child) {
  margin-right: 12px;
}

/* theme */

.theme-dark-lite {
  color: var(--text-color);
}

.theme-dark-lite .cta-button {
  color: var(--text-color);
  border: 2px solid var(--text-color);
}

@media only screen and (min-width: 735px) and (max-width: 1060px) {
  .heading {
    font-size: 56px;
  }

  .sub-heading {
    font-size: 28px;
  }
}

@media only screen and (min-width: 1061px) {
  .heading {
    font-size: 72px;
  }

  .sub-heading {
    font-size: 32px;
  }
}
