.section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  background-color: var(--font-color-white);
  overflow-x: hidden;
  position: relative;
}

.section > img {
  object-fit: cover;
  overflow-x: hidden;
}

.section > .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 1;
  position: relative;
}
