.text-black {
  color: var(--font-color-black);
}

.text-white {
  color: var(--font-color-white-200);
}

.text-blue {
  color: var(--font-color-blue);
}

.border-black {
  border: 2px solid var(--font-color-black);
}

.border-white {
  border: 2px solid var(--font-color-white-200);
}

.main-text {
  letter-spacing: -0.005rem;
  text-align: center;
  font-size: 3rem;
}

.sub-text {
  margin-top: 1.25rem;
  max-width: 40vw;
  letter-spacing: 0.007em;
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
}

.sub-text2 {
  margin-top: 1rem;
  letter-spacing: 0.007em;
  text-align: center;
  font-size: 1rem;
  color: var(--font-color-gray-300);
}

@media screen and (max-width: 1000px) {
  .main-text {
    font-size: 2.5rem;
  }
  .sub-text {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .main-text {
    font-size: 2rem;
  }
  .sub-text {
    font-size: 1rem;
  }
}
