.text-black {
  color: var(--font-color-black);
}

.text-white {
  color: var(--font-color-white);
}

.border-black {
  border: 2px solid var(--font-color-black);
}

.border-white {
  border: 2px solid var(--font-color-white);
}

.main-text {
  letter-spacing: -0.005rem;
  text-align: center;
  font-size: 4rem;
}

.sub-text {
  margin-top: 1.25rem;
  max-width: 26rem;
  letter-spacing: 0.007em;
  text-align: center;
  font-size: 2rem;
}

@media screen and (max-width: 1000px) {
  .main-text {
    font-size: 3.5rem;
  }
  .sub-text {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 768px) {
  .main-text {
    font-size: 2.5rem;
  }
  .sub-text {
    font-size: 1.2rem;
  }
}
