.hero-background {
  background-color: #000;
  background-image: url("images/hero/hero__small_2x.jpg");
  background-position: 50%;
  background-size: 734px 713px;
  background-repeat: no-repeat;
}

.background {
  position: relative;
  display: grid;
  overflow: hidden;
  height: 100%;
  place-items: center;
}

.background__image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.background__image--iphone-13-pro {
  z-index: -5;
  height: 289px;
  background-color: #fff;
  background-image: url("images/iphone_13_pro/iphone_13_pro__small_2x.jpg");
  background-position: 50%;
  transform: translateY(120px);
}

.background__image--iphone-13 {
  width: 421px;
  height: 202px;
  background-image: url("images/iphone_13/iphone_13__small_2x.jpg");
  background-position: bottom;
  transform: translateY(66px);
}

.background__image--watch-series-7 {
  height: 232px;
  background-image: url("images/watch_series_7/watch_series_7__small_2x.jpg");
  background-position-x: 22%;
  background-size: cover;
  transform: translateY(30px);
}

.background__image--ipad-mini {
  height: 407px;
  background-image: url("images/ipad_mini/ipad_mini__small_2x.jpg");
  background-position: bottom;
  transform: translateX(55px) translateY(50px);
}

.background__image--ipad {
  height: 334px;
  background-image: url("images/ipad/ipad__small_2x.jpg");
  background-position: 50%;
  transform: translateY(10px);
}

@media screen and (min-width: 768px) {
  .hero-background {
    background-image: url("images/hero/hero__medium_2x.jpg");
    background-size: 1068px 922px;
  }

  .background--iphone-13-pro {
    margin-right: 25px;
    margin-left: 25px;
  }

  .background__image--iphone-13-pro {
    height: 676px;
    background-image: url("images/iphone_13_pro/iphone_13_pro__medium_2x.jpg");
    background-position: 50%;
    transform: translateY(170px);
  }

  .background__image--iphone-13 {
    width: 149%;
    height: 535px;
    background-image: url("images/iphone_13/iphone_13__medium_2x.jpg");
    transform: translateY(96px);
  }

  .background__image--watch-series-7 {
    width: 100%;
    height: 393px;
    background-image: url("images/watch_series_7/watch_series_7__medium_2x.jpg");
    background-position-x: 22%;
    background-size: contain;
    transform: translateY(110px);
  }

  .background__image--ipad-mini {
    width: 100%;
    height: 690px;
    background-image: url("images/ipad_mini/ipad_mini__medium_2x.jpg");
    background-position: bottom;
    transform: translateX(55px) translateY(90px);
  }

  .background__image--ipad {
    width: 600px;
    height: 565px;
    background-image: url("images/ipad/ipad__medium_2x.jpg");
    background-position: 50%;
    transform: translateY(10px);
  }
}

@media screen and (min-width: 1069px) {
  .hero-background {
    background-image: url("images/hero/hero__large_2x.jpg");
    background-size: 1440px 1058px;
  }

  .background__image--iphone-13-pro {
    width: 910px;
    height: 996px;
    background-image: url("images/iphone_13_pro/iphone_13_pro__large_2x.jpg");
    background-size: contain;
    transform: translateX(220px) translateY(190px);
  }
}
