:root {
  --purple: rgb(52, 40, 60);
  --light-gray: rgb(245, 245, 247);
}

.card {
  display: flex;
  flex-direction: column;
}

.card--size_hero {
  height: 713px;
}

.card--size_iphone-13-pro {
  height: 600px;
}

.card--size_iphone-13 {
  height: 561px;
}

.card--size_watch-series-7 {
  height: 625px;
}

.card--size_ipad,
.card--size_ipad-mini {
  height: 700px;
}

.card--background-color_iphone-13 {
  background-color: var(--purple);
}

.card--background-color_ipad {
  background-color: var(--light-gray);
}

.card__content--iphone-13-pro,
.card__content--iphone-13,
.card__content--watch-series-7,
.card__content--ipad-mini,
.card__content--ipad {
  margin-top: 60px;
}

.card__content--hero {
  margin-top: 420px;
}

.card__content--ipad-mini {
  height: 290px;
}

.card__image-container {
  position: relative;
  height: 100%;
}

.card__image-container--ipad-mini {
  height: 350px;
}
