:root {
  --purple: rgb(52, 40, 60);
  --light-gray: rgb(245, 245, 247);
}

.card {
  display: flex;
  flex-direction: column;
}

.card--size_hero {
  height: 713px;
}

.card--size_iphone-13-pro {
  height: 600px;
}

.card--size_iphone-13 {
  height: 561px;
}

.card--size_watch-series-7 {
  height: 625px;
}

.card--size_ipad,
.card--size_ipad-mini {
  height: 700px;
}

.card--background-color_iphone-13 {
  background-color: var(--purple);
}

.card--background-color_ipad {
  background-color: var(--light-gray);
}

.card--background-color_watch-series-7 {
  background-color: #f5f5f7;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card__content--hero {
  margin-top: 420px;
}

.card__content--iphone-13-pro {
  margin-top: 70px;
}

.card__content--iphone-13 {
  margin-top: 70px;
}

.card__content--ipad {
  margin-top: 70px;
}

.card__content--size_ipad-mini {
  box-sizing: border-box;
  min-height: 350px;
  padding-top: 72px;
}

.card__image-container {
  position: relative;
  height: 100%;
}

.card__image-container--ipad-mini {
  height: 350px;
}

@media screen and (min-width: 768px) {
  .card--size_hero {
    height: 922px;
  }

  .card--size_iphone-13-pro,
  .card--size_iphone-13,
  .card--size_watch-series-7,
  .card--size_ipad-mini {
    height: 950px;
  }

  .card--size_ipad {
    height: 1030px;
  }

  .card__content--hero {
    justify-content: flex-end;
    height: 100%;
    margin-top: 0;
    margin-bottom: 150px;
  }

  .card__content--iphone-13-pro {
    margin-top: 110px;
  }
}

@media screen and (min-width: 1069px) {
  .card--size_hero {
    height: 1013px;
  }

  .card__content--hero {
    margin-bottom: 170px;
  }

  .card--size_iphone-13-pro {
    display: flex;
    flex-direction: row;
    height: 900px;
  }

  .card__content--iphone-13-pro {
    width: 50%;
    height: 100%;
    margin-top: 0;
    padding-right: 56px;
    padding-left: 34px;
  }

  .iphone-13-pro .card__image-container {
    width: 100%;
    max-width: 40%;
  }

  .iphone-13.card {
    display: flex;
    flex-direction: row-reverse;
    height: 900px;
  }

  .iphone-13 .card__content,
  .iphone-13 .card__image-container {
    width: 50%;
    height: 100%;
  }

  .iphone-13 .card__content {
    margin-top: 0;
  }
}
