.content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  width: 100%;
}

.content--theme_dark {
  color: white;
}

.content--theme_light {
  color: black;
}

.content__headline {
  font-weight: 600;
  font-size: 40px;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
}

.content__headline--watch-series-7 {
  width: 124px;
  height: 48px;
  min-height: 48px;
  margin-top: 77px;
  background-image: url("images/watch_series_7/logo_watch_series_7__small_2x.png");
  background-size: 124px 48px;
  background-repeat: no-repeat;
}

.content__headline--ipad-mini {
  width: 160px;
  height: 32px;
  min-height: 32px;
  background-image: url("images/ipad_mini/logo_ipad_mini__small_2x.png");
  background-size: 160px 32px;
  background-repeat: no-repeat;
}

.content__subhead {
  font-weight: 600;
  font-size: 19px;
  line-height: 1.2105263158;
  letter-spacing: 0.012em;
  text-align: center;
}

.content__subhead--max-width_hero {
  max-width: 320px;
}

.content__subhead--max-width_iphone-13-pro {
  max-width: 270px;
}

.content__subhead--max-width_iphone-13 {
  max-width: 290px;
}

.content__subhead--max-width_watch-series-7 {
  max-width: 250px;
}

.content__subhead--max-width_ipad-mini {
  max-width: 275px;
}

.content__subhead--max-width_ipad {
  max-width: 285px;
}

.content__violator {
  color: #6e6e73;
  font-size: 12px;
}

.content__cta-links {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.1764805882;
  letter-spacing: -0.022em;
}

.content__cta-link {
  display: inline-block;
  min-width: 97px;
  padding: 10px 16px;
  border: 2px solid white;
  border-radius: 980px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

.content__cta-link--border-color_dark {
  border-color: black;
}

@media screen and (min-width: 768px) {
  .content__headline {
    font-size: 56px;
  }

  .content__headline--watch-series-7 {
    width: 170px;
    height: 65px;
    min-height: 65px;
    background-image: url("images/watch_series_7/logo_watch_series_7__medium_2x.png");
    background-size: 170px 65px;
    background-repeat: no-repeat;
  }

  .content__headline--ipad-mini {
    width: 221px;
    height: 44px;
    min-height: 44px;
    background-image: url("images/ipad_mini/logo_ipad_mini__small_2x.png");
    background-size: 221px 44px;
    background-repeat: no-repeat;
  }

  .content__subhead {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.1428571429;
    letter-spacing: 0.007em;
  }

  .content__subhead--max-width_hero {
    max-width: 460px;
  }

  .content__subhead--max-width_iphone-13-pro {
    max-width: 585px;
  }

  .content__subhead--max-width_iphone-13 {
    max-width: 625px;
  }

  .content__subhead--max-width_watch-series-7 {
    max-width: 550px;
  }

  .content__subhead--max-width_ipad-mini {
    max-width: 640px;
    font-size: 27px;
  }

  .content__subhead--max-width_ipad {
    max-width: 640px;
  }

  .content__violator {
    font-size: 17px;
  }
}
