@font-face {
  font-family: 'SF Pro Text';
  src: url('./fonts/SF-Pro-Text-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SF-Pro-Display-Regular.woff2') format('woff2');
}
