#footer {
  background-color: var(--color-gray-9);
}

#footer > .content_container {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 34px;
  padding-bottom: 21px;
  position: relative;
}

#footer .footer_shop {
  border-bottom: 1px solid var(--color-gray-6);
  color: var(--color-gray-6);
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.75rem;
}

#footer .footer_shop a {
  color: var(--color-blue);
}

#footer .footer_bottom {
  display: flex;
  justify-content: space-between;
}

#footer .footer_legal {
  color: var(--color-gray-6);
  font-size: 0.75rem;
  display: flex;
}

#footer .footer_legal_links {
  margin-left: 1.875rem;
}

#footer .footer_legal_links a {
  color: var(--color-gray-6);
}

#footer .footer_legal_links a:not(:last-child) {
  border-right: 1px solid var(--color-gray-6);
  padding-right: 0.625rem;
  margin-right: 0.5rem;
}

#footer .footer_locale {
  color: var(--color-gray-6);
  font-size: 12px;
}
