/* global-navigation */

.global-nav {
  width: calc(100% - 2.7rem);
  height: 2.75rem;
  position: fixed;
  top: 0;
  font-size: 0.875rem;
  padding: 0 1.375rem;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.global-nav .global-nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 -10px;
  max-width: 980px;
  padding: 0 22px;
  height: inherit;
  position: relative;
  z-index: 2;
}

.global-nav .global-nav-list .global-nav-menu {
  display: none;
}

.global-nav .global-nav-list .global-nav-menu .mobile-global-nav {
  background-image: url('../images/mobile-menu.png');
  width: 100%;
  display: inline-block;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center center;
}

.global-nav .global-nav-list li {
  display: flex;
  align-items: center;
}

.global-nav .global-nav-list li a {
  color: #f5f5f7;
  opacity: 0.8;
  width: 100%;
}

.global-nav .global-nav-list li a:hover {
  text-decoration: none;
  opacity: 1;
}

.global-nav .global-nav-list .search a {
  width: 18px;
}

.search .search-svg {
  opacity: 1;
}

.cart {
  width: 17px;
}

@media only screen and (max-width: 767px) {
  /* global-nav */

  .global-nav {
    width: 100%;
    padding: 0;
  }

  .global-nav .global-nav-list {
    width: calc(100% - 44px);
  }

  .global-nav .global-nav-list li:not(:first-child, :nth-child(2), :last-child) {
    display: none;
  }

  .global-nav .global-nav-list .global-nav-menu {
    display: block;
    width: 44px;
    height: auto;
  }
}
