.gn {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.gn-content {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 22px;
}

.gn-apple-icon {
  background-size: 16px 44px;
  background-repeat: no-repeat;
  background-image: url('../images/apple-logo-white.svg');
  background-position: center;
  width: 16px;
}

.gn-link {
  height: 44px;
  font-size: 14px;
  line-height: 3.14286;
  font-weight: 400;
  opacity: 0.8;
  white-space: no-wrap;
  display: block;
}

.gn-link:hover,
.gn-link:active {
  text-decoration: none;
}

.gn ul {
  display: flex;
  justify-content: space-between;
  color: #f5f5f7;
}

.gn-search-icon {
  background-size: 18px 88px;
  background-repeat: no-repeat;
  background-image: url('../images/search-icon.svg');
  width: 18px;
}

.gn-bag-icon {
  background-size: 17px 44px;
  background-repeat: no-repeat;
  background-image: url('../images/bag-icon.svg');
  background-position: center;
  width: 17px;
}
