/* commons */

.details,
.bottom-nav,
.main-footer {
  max-width: 980px;
  margin: 0 auto;
  padding: 0.5rem 6rem;
  text-align: left;
  font-size: 14px;
}

.main-footer section *,
.main-footer .copyright,
.bottom-nav ul li a {
  font-size: 12px;
}

/* bottom-nav */

.bottom-nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.bottom-nav .nav-section:not(:first-child) {
  padding-top: 24px;
}

.bottom-nav .subhead {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #1d1d1f;
}

.bottom-nav ul li {
  margin-bottom: 0.6rem;
}

.bottom-nav ul li a {
  color: #86868b;
}

/* details */

.global-footer-contents {
  background-color: #f6f5f7;
}

.details li {
  margin-top: 1rem;
}

.details li span {
  color: #86868b;
}

.details .detail-list {
  border-bottom: 1px solid #d2d2d7;
  padding-bottom: 1.2rem;
}

.details .detail-list li span a {
  font-weight: 500;
  color: #515154;
}

/* main-footer */

.main-footer {
  padding: 2.5rem 6rem;
}

.main-footer .footer-wrapper {
  text-align: left;
}

.main-footer .footer-wrapper .footer-legal {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.main-footer .footer-wrapper .footer-legal-links {
  display: flex;
}

.main-footer .footer-wrapper .footer-legal-links .copyright {
  margin-right: 30px;
  min-width: fit-content;
}

.main-footer .footer-wrapper .location {
  min-width: fit-content;
}

.main-footer .footer-wrapper .footer-legal-links .legal-links {
  display: flex;
  min-width: fit-content;
}

.main-footer .footer-wrapper .footer-legal-links .legal-links li a {
  color: #515154;
}

.main-footer .footer-wrapper .footer-legal-links .legal-links li:not(:last-child) {
  margin-right: 7px;
  padding-right: 10px;
  display: inline-block;
  white-space: nowrap;
  border-right: 1px solid #d2d2d7;
}

.main-footer .footer-wrapper .footer-legal * {
  color: #86868b;
}

.main-footer .footer-wrapper .footer-shop {
  border-bottom: 1px solid #d2d2d7;
  margin-bottom: 7px;
  padding-bottom: 8px;
  color: #86868b;
}

@media only screen and (max-width: 1068px) {
  .main-footer .footer-wrapper .footer-legal {
    margin-top: 10px;
  }

  .main-footer .footer-wrapper .footer-legal-links {
    flex-direction: column;
  }

  .main-footer .footer-wrapper .footer-legal-links .legal-links {
    margin-top: 0.5rem;
  }

  .details,
  .bottom-nav {
    padding: 1rem 1rem 0 1rem;
  }

  .main-footer {
    padding: 2.5rem 1rem;
  }

  .bottom-nav .nav-sections-wrapper .nav-section:not(:first-child) {
    padding-top: 0;
  }
}

/* mobile */

@media only screen and (max-width: 767px) {
  /* details */

  .details,
  .bottom-nav,
  .main-footer {
    padding: 0.5rem 1rem;
  }

  /* bottom-nav */

  .bottom-nav {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
  }

  .bottom-nav .nav-section {
    border-bottom: 1px solid #d2d2d7;
  }

  .bottom-nav .nav-section h3.subhead {
    padding: 0.9rem 0;
    margin-bottom: 0;
    margin-top: 0;
    cursor: pointer;
    max-width: 100%;
  }

  .bottom-nav .nav-section h3.subhead:after {
    content: '+';
    float: right;
    font-size: 14px;
    font-weight: normal;
    margin-top: -2px;
    margin-right: 8px;
  }

  .bottom-nav .nav-section ul li {
    display: none;
  }

  /* main-footer */

  .main-footer {
    padding: 1rem 1rem 2.5rem 1rem;
  }

  .main-footer .footer-wrapper .footer-shop {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .main-footer .footer-wrapper .footer-legal {
    display: flex;
    flex-direction: column;
  }

  .main-footer .footer-wrapper .location {
    margin-top: 1.5rem;
    order: 1;
  }

  .main-footer .footer-wrapper .footer-legal-links {
    flex-direction: column;
    margin-top: 1.5rem;
    order: 2;
  }

  .main-footer .footer-wrapper .footer-legal-links .legal-links {
    margin-top: 10px;
  }
}
