/* Global */

section {
  text-align: center;
}

sup {
  top: -0.5em;
  position: relative;
  font-size: 0.6em;
  vertical-align: initial;
  color: inherit;
  font-weight: inherit;
}

.mobile {
  display: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.light,
.light * {
  color: #fff;
}

.arrow-link:after {
  content: ' >';
}

.arrow-top-right:after {
  content: '';
  background-image: url('../svg/top-right-arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-left: 0.3rem;
}

h2.headline {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -0.1rem;
  padding: 40px 0 0 0;
  margin: 10px 0 0 0;
  user-select: none;
}

h3.subhead {
  font-size: 28px;
  line-height: 1.10722;
  font-weight: 400;
  letter-spacing: -0.04em;
  margin-top: 6px;
  user-select: none;
}

h4.headline {
  position: relative;
  font-size: 40px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: -0.07rem;
  max-width: 540px;
  margin: 53px auto 0 auto;
  user-select: none;
}

h5.subhead {
  font-size: 21px;
  line-height: 1.2381;
  font-weight: 400;
  letter-spacing: -0.016rem;
  max-width: 500px;
  margin: 4px auto 0 auto;
  user-select: none;
}

.detail-contents {
  margin-top: 0.8rem;
}

.detail-contents p {
  margin-top: 0.4rem;
  color: #86868b;
}

.cta-links {
  margin-top: 0.8rem;
  font-size: 21px;
}

.cta-links a:not(:first-child) {
  margin-left: 35px;
}

@media only screen and (max-width: 1068px) {
  h2.headline {
    font-size: 50px;
  }

  h4.headline {
    font-size: 36px;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  h3.subhead {
    font-size: 26px;
    max-width: 300px;
    margin: 0 auto;
  }

  h5.subhead {
    font-size: 21px;
  }
}

@media only screen and (max-width: 767px) {
  h2.headline {
    font-size: 45px;
  }

  h4.headline {
    max-width: 350px;
    margin-right: auto;
    margin-left: auto;
  }

  .detail-contents {
    max-width: 230px;
    margin: 1rem auto 0 auto;
  }

  .cta-links {
    font-size: 16px;
  }
}
