.gnb {
  position: fixed;
  z-index: 4;
  top: 0;
  width: 100%;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
}

.gnb-nav {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

.gnb-content-list {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
  opacity: 0.8;
}

.gnb-content-list.desktop {
  display: none;
}

.gnb-content-list.mobile > li {
  width: 48px;
  height: 100%;
}

.gnb-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.gnb-apple-logo-link {
  background-image: url('../images/apple_image_small.svg');
}

.gnb-bag-link {
  background-image: url('../images/bag_image_small.svg');
}

.gnb-search-link {
  background-image: url('../images/search_image_large.svg');
  background-size: 18px 88px;
  background-position: 0 0;
}

.gnb-menu-item {
  position: relative;
}

.gnb-menu {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 9px;
  left: 9px;
  width: 30px;
  height: 30px;
}

.gnb-menu-line {
  display: block;
  width: 17px;
  height: 1px;
  background: #fff;
  border-radius: 0.5px;
  position: absolute;
  left: 7px;
  z-index: 1;
}

.gnb-menu-line-top {
  top: 11px;
}

.gnb-menu-line-bottom {
  bottom: 11px;
}

@media only screen and (min-width: 734px) {
  .gnb {
    height: 44px;
  }

  .gnb-content-list.mobile {
    display: none;
  }

  .gnb-content-list.desktop {
    display: flex;
    font-size: 14px;
    height: 100%;
  }

  .gnb-content-list.desktop > li {
    width: unset;
    height: 100%;
    line-height: 44px;
    padding: 0 10px;
  }

  .gnb-content-list.desktop > li > a {
    display: inline-block;
    height: 100%;
  }

  .gnb-content-list.desktop .gnb-link {
    height: 100%;
    width: 18px;
  }

  .gnb-apple-logo-link {
    background-image: url('../images/apple_image_large.svg');
    background-size: 16px 44px;
  }

  .gnb-bag-link {
    background-image: url('../images/bag_image_large.svg');
    background-size: 17px 44px;
  }
}
