.header {
  width: 100%;
  background-color: #000000cc;
  height: 44px;
  position: fixed;
  top: 0;
}

.nav {
  height: inherit;
}

.nav-list {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 0 22px;
}

.nav-listitem {
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px;
  line-height: 44px;
  opacity: 0.8;
  transition: opacity 0.6s ease;
}

.nav-listitem:first-child {
  padding-left: 0;
}

.nav-listitem:last-child {
  padding-right: 0;
}

.nav-listitem:hover {
  opacity: 1;
}

.nav-listitem a {
  color: #f5f5f7;
  font-weight: 300;
}

.nav-icon {
  width: 16px;
  height: inherit;
}

.nav-list-mobile {
  display: none;
}

@media screen and (max-width: 752px) {
  .header {
    height: 48px;
  }

  .nav-list-pc {
    display: none;
  }

  .nav-list-mobile {
    display: flex;
  }

  .nav-icon {
    width: 18px;
  }

  .more-item-icon {
    width: inherit;
  }
}
