header {
  position: fixed;
  width: 100%;
  height: 56px;
  background-color: black;
  z-index: 9999;
  opacity: 85%;
}

#nav-section {
  width: 1300px;
  height: 100%;
  margin: 0 auto;
  color: white;
  font-size: 17px;
  line-height: 56px;
  letter-spacing: normal;
  padding: 0 10px;
}

.nav-list,
.sm-nav-list {
  justify-content: space-between;
  margin: 0 20px;
}

.nav-list {
  display: flex;
}

.sm-nav-list {
  display: none;
}

.nav-icon {
  color: white;
  background-repeat: no-repeat;
  background-position: center center;
}

.icon-apple {
  width: 40px;
  background-image: url("../images/logo.svg");
  color: white;
  background-repeat: no-repeat;
  background-position: center center;
}

.icon-search {
  width: 28px;
  background-image: url("../images/search.svg");
}

.icon-bag {
  width: 30px;
  background-image: url("../images/bag.svg");
}

.icon-menu {
  width: 36px;
  background-image: url("../images/menu.svg");
}

@media screen and (max-width: 767px) {
  #nav-section,
  .sm-nav-list {
    width: 100%;
    height: 56px;
  }

  .nav-list {
    display: none;
  }

  .sm-nav-list {
    display: flex;
  }
}
