.heading2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  margin-top: 70px;
  letter-spacing: 0em;
  word-break: keep-all;
}

.heading3 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.05rem;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 300px;
  word-break: keep-all;
  text-align: center;
  line-height: 1.4;
}

@media only screen and (min-width: 734px) {
  .heading2 {
    font-size: 56px;
    letter-spacing: -0.3rem;
  }
  .heading3 {
    font-size: 28px;
  }
}

@media only screen and (min-width: 1068px) {
  .heading2 {
    font-size: 72px;
    letter-spacing: -0.4rem;
  }
  .heading3 {
    font-size: 32px;
  }
}
