#hero {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 1200px;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center 1%;
  background-size: 2400px 1400px;
  background-image: url("/src/images/hero_large_2x.jpeg");
}

#hero-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 0 160px;
  color: white;
}

.hero-description-item {
  margin: 20px 0;
}

@media screen and (max-width: 767px) {
  #hero {
    height: 800px;
    background-size: 900px 800px;
    background-image: url("/src/images/apple_hero_image.jpeg");
  }

  #hero-description {
    display: flex;
    margin: 20px 0 100px;
  }

  #hero-description > h2 {
    font-size: 54px;
  }

  #hero-description > h3 {
    font-size: 24px;
    line-height: 30px;
  }
}
