@import './@shared/index.css';
@import './index_1080.css';

/* breakpoint: 740px, 1080px, 1440px, */

#site-header {
  position: absolute;
  top: 0;
  left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  padding: 48px 0 0;
  background-color: #000;
}

.headline {
  font-size: 68px;
  font-weight: 600;
  line-height: 1.25;
}

.subhead {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.1;

  margin: 20px auto 0;
}

.cta-links {
  margin-top: 40px;
}

.theme-dark-light {
  color: #fff;
  border-color: #fff;
}

.section-content {
  margin: 0 auto;

  height: 100%;
  width: 100%;
  max-width: 1440px;

  display: flex;
  overflow: hidden;
}

.copy-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  display: inline-block;
  padding: 10px 16px;

  border: 2px solid;
  border-radius: 24px;
}

.button:hover {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

.button:not(:first-child) {
  margin-left: 18px;
}

.theme-dark-light .button:hover {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}

#global-nav {
  width: 100%;
  height: 48px;

  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;

  background-color: #000000cc;
  color: #f5f5f7;

  overflow: hidden;
}

#global-nav-content {
  height: 100%;
  max-width: 1024px;
  padding: 0 24px;
  margin: 0 auto;
}

#global-nav-content a {
  display: block;
  padding: 0 10px;
  height: 100%;
  font-weight: 400;
  font-size: 14px;
  color: inherit;
  text-decoration: none;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

#global-nav-content a:hover {
  opacity: 1;
}

#global-nav-header {
  width: 100%;
  height: 100%;

  display: none;
  overflow: hidden;
}

#global-nav-header li {
  height: 100%;
}

#gnb-link-apple {
  width: 18px;
  background-size: 18px 44px;
  background-position: 10px 0;
  background-image: url(../images/apple-logo-white.svg);
  background-repeat: no-repeat;
}

#gnb-link-apple span {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}

#gnb-link-search {
  width: 18px;
  background-size: 18px 88px;
  background-position: 10px 0;
  background-image: url(../images/search-icon.svg);
  background-repeat: no-repeat;
}

#gnb-link-shopping-bag {
  width: 17px;
  background-size: 17px 44px;
  background-position: 10px 0;
  background-image: url(../images/bag.svg);
  background-repeat: no-repeat;
}

main section {
  height: 900px;
}

.hero-section {
  height: 1013px;

  background-image: url(../images/hero_large_2x.jpeg);
  background-repeat: no-repeat;
  background-size: 1440px 1058px;
  background-position: 50%;
  background-color: #000;

  text-align: center;
}

@media only screen and (min-width: 1440px) {
  .hero-section {
    background-image: url(../images/hero_xlarge_2x.jpeg);
    background-size: 3008px 1058px;
  }
}

.hero-section .section-content {
  flex-direction: column;
  justify-content: flex-end;
}

.hero-section .subhead {
  max-width: 518px;
}

.hero-section .copy-container {
  margin-bottom: 160px;
}

.iphone13-pro-section {
  background-color: #f5f5f7;
  position: relative;
  overflow: hidden;
}

.iphone13-pro-section .section-content {
  overflow: unset;
}

.iphone13-pro-section .copy-container {
  width: 50%;
  height: 100%;

  padding-left: 34px;
  padding-right: 56px;
}

.iphone13-pro-section .subhead {
  max-width: 610px;
}

.iphone13-pro-section .iphone13-pro-bg-image {
  position: relative;
}

.iphone13-pro-section .iphone13-pro-bg-image img {
  width: 910px;
  height: 998px;

  position: absolute;

  background-size: contain;

  transform: translateX(0) translateY(15%);
}

.iphone13-section {
  background-color: #34283c;
}

.iphone13-section .section-content {
  position: relative;
  justify-content: flex-end;
}

.iphone13-section .copy-container {
  width: 50%;
  height: 100%;

  padding-left: 56px;
  padding-right: 34px;

  z-index: 3;
}

.iphone13-section .subhead {
  max-width: 610px;
}

.iphone13-section .iphone13-bg-image .iphone13-bg-image-content {
  width: 100%;
  height: 1300px;

  background-image: url(../images/iphone_13_large_2x.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -20%;

  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(-15%);
}

.apple-watch-series7-section {
  background-color: #f5f5f7;
}

.apple-watch-series7-section .section-content {
  position: relative;
  max-width: 100%;

  flex-direction: column;
}

.apple-watch-series7-section .headline {
  width: 218px;
  height: 83px;
  min-height: 83px;

  background-size: 218px 83px;
  background-image: url(../images/logo_watch_series_7_large_2x.png);
  background-repeat: no-repeat;

  margin: 100px auto 0;
}

.apple-watch-series7-section .subhead {
  max-width: 780px;
  margin-top: 29px;
}

.apple-watch-series7-section .violator {
  margin-top: 40px;
}

.apple-watch-series7-section .cta-links {
  margin-top: 15px;
}

.apple-watch-series7-bg-image img {
  max-width: 1894px;
  min-width: 1490px;

  position: absolute;
  left: 50%;
  bottom: 0;

  transform: translateX(-50%) translateY(30%);
}

.violator {
  color: #6e6e73;
}

.ipad-mini-section {
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.ipad-mini-section .headline {
  width: 281px;
  height: 56px;
  min-height: 56px;
  margin: 0 auto;

  background-size: 281px 56px;
  background-image: url(../images/logo_ipad_mini_large_2x.png);
  background-repeat: no-repeat;
}

.ipad-mini-section .section-content {
  overflow: unset;
}

.ipad-mini-section .copy-container {
  width: 50%;
  height: 100%;

  padding-left: 34px;
  padding-right: 56px;
}

.ipad-mini-section .subhead {
  max-width: 610px;
}

.ipad-mini-section .ipad-mini-bg-image {
  position: relative;
}

.ipad-mini-section .ipad-mini-bg-image img {
  position: absolute;
  height: 936px;

  background-size: contain;

  transform: translateX(0) translateY(15%);
}

.ipad-section {
  background-color: #f5f5f7;
}

.ipad-section .section-content {
  position: relative;
  justify-content: flex-end;
}

.ipad-section .copy-container {
  width: 50%;
  height: 100%;

  padding-left: 56px;
  padding-right: 34px;

  z-index: 3;
}

.ipad-section .subhead {
  max-width: 540px;
}

.ipad-section .ipad-bg-image img {
  height: 815px;

  position: absolute;
  top: 50%;
  left: 0;

  transform: translateY(-50%);
}

footer {
  background-color: #1d1d1f;
  color: #f5f5f7;

  font-size: 12px;
  font-weight: 300;
}

footer .footer-content {
  max-width: 1024px;
  padding: 0 22px;
  margin: 0 auto;
}

footer nav {
  display: flex;
  padding-top: 20px;
}

footer .footer-nav-column {
  width: calc(100% / 5);
}

footer .footer-nav-section-title {
  font-weight: 600;
  margin-right: 20px;
  margin-bottom: 9.6px;
}

footer .footer-nav-columns-links {
  margin-right: 20px;
}

footer .footer-nav-columns-links li {
  margin-bottom: 9.6px;
}

footer .footer-nav-columns-links a {
  color: #a1a1a6;
}

footer .footer-nav-columns-links a:hover {
  color: #fff;
  text-decoration: underline;
}

footer .global-footer {
  padding: 34px 0 21px;
  color: #626273;

  position: relative;
}

footer .global-footer a {
  color: #2997ff;
}

footer .global-footer-shop {
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #424245;
}

footer .global-footer-legal {
  display: flex;
}

footer .global-footer-legal-copyright {
  margin: 5px 30px 0 0;
}

footer .global-footer-legal-links {
  display: flex;
  margin: 5px 30px 0 0;
}

footer .global-footer-legal-links li {
  margin: 5px 7px 0 0;
  padding-right: 10px;
  color: #a1a1a6;
}

footer .global-footer-legal-links li:not(:last-child) {
  border-right: 1px solid #424245;
}

footer .global-footer-legal-links a {
  color: inherit;
}

footer .global-footer-legal-links a:hover {
  color: #fff;
  text-decoration: underline;
}

footer a.global-footer-locale {
  color: #a1a1a6;

  position: absolute;
  bottom: 21px;
  right: 0;
}

footer a.global-footer-locale:hover {
  color: #fff;
  text-decoration: underline;
}

@media screen and (max-width: 1080px) {
  .headline {
    font-size: 54px;
  }

  .subhead {
    font-size: 24px;
  }

  .section {
    height: 950px;
  }

  .hero-section .subhead {
    max-width: 420px;
  }

  .iphone13-pro-section .subhead {
    max-width: 565px;
  }

  .iphone13-pro-section .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .iphone13-pro-section .copy-container {
    height: 100%;
  }

  .iphone13-pro-section .iphone13-pro-bg-image {
    height: 50%;
  }

  .iphone13-pro-section .iphone13-pro-bg-image img {
    position: static;
    width: 100%;
    height: 676px;
    transform: translateY(0);
  }

  .iphone13-section .section-content {
    flex-direction: column;
    align-items: center;
  }

  .iphone13-section .subhead {
    max-width: 585px;
  }

  .iphone13-section .iphone13-bg-image {
    width: 100%;
    height: 50%;
    position: relative;
  }

  .iphone13-section .iphone13-bg-image .iphone13-bg-image-content {
    width: 100%;
    height: 100%;

    background-image: url(../images/iphone_13_small_2x.jpeg);
    background-position: 0;

    top: 0;
    transform: translateX(20%) translateY(0);
  }

  .apple-watch-series7-section .subhead {
    max-width: 550px;
  }

  .apple-watch-series7-bg-image {
    position: relative;
    height: 50%;
  }

  .apple-watch-series7-bg-image img {
    max-width: 1080px;
    min-width: 740px;
    width: 100%;

    position: absolute;
    left: 50%;
    bottom: 0;

    transform: scale(1.3) translateX(-38%) translateY(0);
  }

  .ipad-mini-section .section-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .ipad-mini-section .subhead {
    max-width: 620px;
  }

  .ipad-mini-section .ipad-mini-bg-image {
    height: 50%;
    width: 100%;

    display: flex;
    justify-content: center;
  }

  .ipad-mini-section .ipad-mini-bg-image img {
    height: 690px;

    position: static;
    bottom: 0;
    left: 0;

    background-size: contain;

    transform: translateX(15%) translateY(-10%);
  }

  .ipad-section .section-content {
    flex-direction: column;
    align-items: center;
  }

  .ipad-section .subhead {
    max-width: 590px;
  }

  .ipad-section .ipad-bg-image {
    height: 50%;
  }

  .ipad-section .ipad-bg-image img {
    height: 100%;
    position: static;

    transform: translateY(-10%);
  }
}

@media screen and (max-width: 740px) {
  .headline {
    font-size: 38px;
  }

  .subhead {
    font-size: 18px;
  }

  main section {
    height: 600px;
  }

  .button:not(:first-child) {
    margin-left: 8px;
  }

  #global-nav-header {
    display: flex;
  }

  .hero-section {
    height: 700px;

    background-image: url(../images/apple_hero_image.jpeg);
    background-size: 734px 713px;
  }

  .hero-section .subhead {
    max-width: 300px;
  }

  .iphone13-pro-section .subhead {
    max-width: 270px;
  }

  .iphone13-pro-section .iphone13-pro-bg-image {
    height: 30%;
  }

  .iphone13-pro-section .iphone13-pro-bg-image img {
    position: static;
    width: 100%;
    height: 289px;
  }

  .iphone13-section .subhead {
    max-width: 290px;
  }

  .iphone13-section .iphone13-bg-image {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
  }

  .iphone13-section .iphone13-bg-image .iphone13-bg-image-content {
    width: 420px;

    position: static;
    transform: translateX(5%) translateY(0);
  }

  .apple-watch-series7-section .subhead {
    max-width: 250px;
  }

  .apple-watch-series7-bg-image img {
    max-width: 740px;
    min-width: 280px;
    width: 100%;

    position: absolute;
    left: 50%;
    bottom: 0;

    transform: scale(1) translateX(-50%) translateY(10%);
  }

  .ipad-mini-section .subhead {
    max-width: 275px;
  }

  .ipad-mini-section .ipad-mini-bg-image {
    height: 50%;
  }

  .ipad-mini-section .ipad-mini-bg-image img {
    height: 100%;

    position: static;
    bottom: 0;
    left: 0;

    background-size: contain;

    transform: translateX(15%) translateY(10%);
  }

  .ipad-section .subhead {
    max-width: 285px;
  }

  .ipad-section .ipad-bg-image {
    height: 40%;
  }
}
