@import "./global/index.css";
@import "./ui//nav/index.css";
@import "./ui/hamburger/index.css";
@import "./ui/section/section.css";

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
}
