@import './layout.css';
@import './color.css';
@import './footer.css';
@import './gnb.css';
@import './greeting.css';
@import './newItem.css';
@import './collection.css';

* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  margin: 0;
  font-size: 1.6rem;
}
main {
  padding-top: 4.4rem;
}
footer {
  background-color: #f5f5f7;
}
a {
  text-decoration: none;
  outline: none;
  color: #0066cc;
  cursor: pointer;
}
a:hover,
:active,
:visited,
:focus {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

#collection-section {
  padding: 1.2rem;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
}

.text-center {
  text-align: center;
}
.w-100 {
  width: 100%;
}
