@import 'fonts.css';
@import 'variables.css';
@import 'button.css';
@import 'nav.css';
@import 'section.css';
@import 'footer.css';

body {
  margin: 0;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
  line-height: 1.4705882353;
  font-weight: 400;
  letter-spacing: -0.022em;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'SF Pro Display', 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}

.container {
  max-width: 980px;
  padding: 0 1.875rem;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 0;
  }
}
