/* iphone-12-section, iphone-12-pro-section */

.iphone-12,
.iphone-12-pro {
  height: 692px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.iphone-12 {
  background-image: url('../images/iphone12.jpg');
}

.iphone-12-pro {
  background-image: url('../images/iphone12pro.jpg');
}

@media only screen and (max-width: 767px) {
  /* iphone12, iphone12pro */

  .iphone-12,
  .iphone-12-pro {
    height: 600px;
  }

  .iphone-12 {
    background-image: url('../images/iphone12-mobile.jpg');
  }

  .iphone-12-pro {
    background-image: url('../images/iphone12pro-mobile.jpg');
  }
}
