main {
  padding-top: 56px;
}

.title {
  font-size: 100px;
  margin: 30px 0;
}

.description {
  margin: 30px 0;
}

.description {
  text-align: center;
  font-size: 40px;
  line-height: 46px;
}

.a-link-wrapper {
  margin: 40px 0;
}

.a-link {
  font-size: 20px;
  padding: 16px 20px;
  border-radius: 40px;
  margin: 0 20px;
}

.a-link-white {
  border: 3px solid white;
}

.a-link-black {
  border: 3px solid black;
}
