.section-hero {
  background-image: url('./../images/hero_wide.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  height: 1013px;
}

.section {
  height: 900px;
  position: relative;
}

.section-content {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  position: relative;
}

.copy-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headline {
  font-size: 72px;
  line-height: 1;
  font-weight: 600;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.subhead {
  font-size: 32px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: -2px;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.cta-links {
  margin-top: 40px;
}

.dark-theme .headline,
.dark-theme .subhead,
.dark-theme .button {
  color: #fff;
  border-color: #fff;
}

.section-hero .section-content {
  flex-direction: column;
  justify-content: flex-end;
}

.section-hero .copy-container {
  justify-content: flex-end;
  margin-bottom: 160px;
  text-align: center;
}

.section-hero .headline {
  font-size: 72px;
  line-height: 1;
  font-weight: 600;
  color: #fff;
  letter-spacing: -0.012em;
}

.section-hero .subhead {
  max-width: 518px;
  margin-top: 20px;
}

.section-hero .copy-container .button:hover {
  color: #1d1d1f;
  background-color: #fff;
  text-decoration: none;
}

.iphone-13-pro {
  background-color: #f5f5f7;
}

.iphone-13-pro .section-content {
  overflow: unset;
}

.iphone-13-pro .copy-container {
  width: 50%;
  padding-left: 34px;
  padding-right: 56px;
}

.iphone-13-pro .copy-container .headline {
  font-size: 72px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: -0.012em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.iphone-13-pro .copy-container .subhead {
  max-width: 610px;
}

.bg-container {
  position: relative;
}

.bg-iphone-13-pro {
  background-repeat: no-repeat;
  background-image: url('./../images/iphone_13_pro.jpg');
  background-size: contain;
  width: 910px;
  height: 996px;
  position: absolute;
  transform: translate(8px, 40px);
}

.iphone-13 {
  position: relative;
  background-color: #34283c;
}

.iphone-13 .section-content {
  flex-direction: row-reverse;
}

.iphone-13 .copy-container {
  width: 50%;
  padding-left: 56px;
  padding-right: 34px;
  z-index: 2;
}

.iphone-13 .subhead {
  max-width: 665px;
}

.iphone-13 .bg-container {
  position: absolute;
  width: 1385px;
  height: 100%;
  transform: translate(-10%, -20%);
}

.bg-iphone-13 {
  background-repeat: no-repeat;
  background-image: url('./../images/iphone_13.jpg');
  background-size: contain;
  width: 100%;
  height: 1300px;
}

.apple-watch {
  background-color: #f5f5f7;
}

.apple-watch .headline {
  width: 218px;
  height: 83px;
  background-size: 218px 83px;
  background-repeat: no-repeat;
  background-image: url('./../images/apple_watch_font.png');
  margin-left: auto;
  margin-right: auto;
  margin-top: 99px;
  min-height: 83px;
}

.apple-watch .subhead {
  max-width: 780px;
  margin-top: 29px;
}

.apple-watch .section-content {
  overflow: unset;
  flex-direction: column;
  align-items: center;
}

.apple-watch .violator {
  margin-top: 40px;
}

.apple-watch .cta-links {
  margin-top: 15px;
}

.apple-watch .bg-container {
  width: 100%;
  height: 100%;
}

.bg-apple-watch {
  background-repeat: no-repeat;
  background-image: url('./../images/apple_watch.jpg');
  background-size: contain;
  position: relative;
  background-position: 50%;
  height: 524px;
  width: 141%;
  max-width: 1894px;
  min-width: 1490px;
  left: 50%;
  transform: translate(-50%, 15%);
}

.ipad-mini {
  background-color: #fff;
}

.ipad-mini .copy-container {
  width: 100%;
  padding-left: 34px;
  padding-right: 56px;
}

.ipad-mini .headline {
  width: 281px;
  height: 56px;
  background-size: 281px 56px;
  background-repeat: no-repeat;
  background-image: url('./../images/ipad_mini_font.png');
  margin: 0 auto;
  min-height: 56px;
}

.ipad-mini .subhead {
  max-width: 580px;
  margin-top: 29px;
}

.ipad-mini .section-content {
  overflow: unset;
}

.ipad-mini .bg-container {
  width: 100%;
  height: 100%;
}

.bg-ipad-mini {
  background-repeat: no-repeat;
  background-image: url('./../images/ipad_mini.jpg');
  background-size: contain;
  position: absolute;
  transform: translate(10%, 10%);
  height: 936px;
  width: 140%;
}

.ipad {
  background-color: #f5f5f7;
}

.ipad .section-content {
  flex-direction: row-reverse;
}

.ipad .copy-container {
  max-width: 41%;
  padding-right: 35px;
}

.ipad .section-content {
  overflow: unset;
}

.ipad .bg-container {
  width: 100%;
  height: 100%;
}

.bg-ipad {
  max-width: 865px;
  width: 60vw;
  height: 100%;
  background-image: url('./../images/ipad.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  overflow: visible;
}
