.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-width: 320px;
  height: var(--nav-height);
  background-color: var(--nav-background-color);
  backdrop-filter: saturate(180%) blur(20px);
  user-select: none;
  z-index: 10;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-list-item {
  height: var(--nav-height);
}

.nav-list-item img {
  height: var(--nav-height);
}

.nav-link {
  display: inline-block;
  padding: 0 0.625rem;
  color: var(--nav-color);
  font-size: 0.875rem;
  font-weight: 300;
  line-height: var(--nav-height);
  letter-spacing: 1px;
  opacity: 0.8;
  white-space: nowrap;
  transition: opacity 0.3s ease;
}

.nav-link:hover {
  opacity: 1;
}
