#event {
  background-color: #080e16;
  height: 58rem;
  padding-bottom: 3.2rem;
}
#new-item-section > *:not(:last-child) {
  margin-bottom: 1.2rem;
}
#iphone-12 {
  background-color: #fbfbfd;
  height: 70rem;
}
#iphone-12-pro {
  background-color: #000;
  height: 70rem;
  color: #fff;
}
.new-item {
  padding-top: 4.8rem;
}
.headline {
  font-size: 5.6rem;
  font-weight: 600;
}
.sub-headline {
  margin-top: 0.6rem;
  font-size: 2.8rem;
  font-weight: 400;
}
.link {
  font-size: 2.1rem;
  color: #0066cc;
  position: relative;
}
.link::after {
  position: absolute;
  content: '';
  width: 0.7rem;
  height: 0.7rem;
  border: 0.1rem solid #0066cc;
  border-top: none;
  border-left: none;
  transform: rotate(-45deg);
  top: 0.9rem;
  right: -1.2rem;
}
.link-container {
  margin: 1.4rem 1.4rem 0 0;
}
.link-container > a:not(:first-child) {
  margin-left: 3.5rem;
}
.price-info {
  color: #86868b;
  margin-top: 1.4rem;
}
