.copy-container {
  text-align: center;
}

.main-copy {
  font-size: 72px;
  padding: 0 20px;
  margin-bottom: 20px;
}

.sub-copy {
  font-size: 32px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1053px) {
  .main-copy {
    font-size: 56px;
  }

  .sub-copy {
    font-size: 28px;
    margin-bottom: 28px;
  }
}

@media screen and (max-width: 752px) {
  .main-copy {
    font-size: 40px;
  }

  .sub-copy {
    font-size: 19px;
    margin-bottom: 25px;
  }
}
