/* sub-contents-section */

.sub-contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.7rem;
  padding: 0.7rem;
}

.sub-contents .arrow-link,
.sub-contents .arrow-top-right {
  font-size: 17px;
}

.sub-contents .headline span {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.sub-contents .headline span img {
  width: 28px;
  margin-right: 1px;
}

.sub-contents article {
  height: 580px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sub-contents .headline .logo-wrapper .logo {
  height: 46px;
  width: 26px;
  background-image: url('../svg/logo-white.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-right: 1px;
}

/* ipad-pro */

.sub-contents .ipad-pro {
  background-image: url('../images/card1.jpg');
}

/* apple-watch-series-6 */

.sub-contents .apple-watch-series-6 {
  background-image: url('../images/card2.jpg');
}

.sub-contents .apple-watch-series-6 .headline {
  font-size: 32px;
  height: 34px;
}

.sub-contents .apple-watch-series-6 .headline .logo-wrapper .logo {
  height: 38px;
  width: 25px;
}

.sub-contents .apple-watch-series-6 .series-6 {
  color: red;
  font-size: 13px;
  letter-spacing: 3px;
  font-family: 'SF Pro Display';
}

.sub-contents .apple-watch-series-6 .headline .logo-wrapper img {
  width: 25px;
}

/* apple-fitness-plus */

.sub-contents .apple-fitness-plus {
  background-image: url('../images/card3.jpg');
  background-position: bottom;
  background-size: inherit;
}

.sub-contents .apple-fitness-plus .subhead {
  max-width: 390px;
}

.sub-contents .apple-fitness-plus .headline .logo-wrapper .logo {
  background-image: url('../svg/logo-black.svg');
}

/* buy-for-college */

.sub-contents .buy-for-college {
  background-image: url('../images/card4.jpg');
}

.sub-contents .buy-for-college h4.headline sup {
  top: 0;
}

/* apple-card */

.sub-contents .apple-card {
  background-image: url('../images/card5.jpg');
}

.sub-contents .apple-card .subhead {
  max-width: 300px;
}

.sub-contents .apple-card .headline .logo-wrapper .logo {
  background-image: url('../svg/logo-black.svg');
}

/* apple-tv-plus */

.sub-contents .apple-tv-plus {
  background-image: url('../images/card6.jpg');
}

.sub-contents .apple-tv-plus .headline-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 88%;
}

.sub-contents .apple-tv-plus .stream-play {
  margin-top: 0.5rem;
  font-weight: 300;
}

.sub-contents .apple-tv-plus .stream-play .stream-play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.sub-contents .apple-tv-plus .stream-play .stream-play-button img {
  width: 20px;
  height: auto;
  margin-left: 8px;
}

.sub-contents .apple-tv-plus .headline-wrapper .subhead img {
  margin-top: 0.5rem;
  width: 220px;
}

@media only screen and (max-width: 767px) {
  /* sub-contents */

  .sub-contents .headline .logo-wrapper .logo {
    height: 40px;
  }

  .sub-contents {
    grid-template-columns: repeat(1, 1fr);
    padding: 0.7rem 0 0 0;
  }

  /* ipad-pro */

  .sub-contents .ipad-pro {
    background-image: url('../images/card1-mobile.jpg');
  }

  /* apple-watch-series-6 */

  .sub-contents .apple-watch-series-6 {
    background-image: url('../images/card2-mobile.jpg');
  }

  /* apple-fitness-plus */

  .sub-contents .apple-fitness-plus h5.subhead {
    max-width: 300px;
  }

  .sub-contents .apple-fitness-plus {
    background-image: url('../images/card3-mobile.jpg');
    background-size: contain;
  }

  /* buy-for-college */

  .sub-contents .buy-for-college {
    background-image: url('../images/card4-mobile.jpg');
  }

  /* apple-card */

  .sub-contents .apple-card {
    background-image: url('../images/card5-mobile.jpg');
  }

  /* apple-tv-plus */

  .sub-contents .apple-tv-plus {
    background-image: url('../images/card6.jpg');
  }
}
