.iphone_13 {
  background-color: var(--bg-color-iphone);
  height: 50rem;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.iphone_13 > .content {
  min-width: max-content;
  padding-right: 10rem;
}

.iphone_13 > .device-img {
  position: relative;
  min-width: 55rem;
  height: 100%;
  background-image: url("/src/images/iphone_13_large.jpg");
  background-size: contain;
  background-position-x: 13rem;
}

@media screen and (max-width: 1000px) {
  .iphone_13 {
    flex-direction: column;
    justify-content: center;
  }

  .iphone_13 > .content {
    padding-right: 0;
    padding-top: 5rem;
    padding-bottom: 3rem;
  }

  .iphone_13 > .device-img {
    min-width: 50rem;
    max-width: 50rem;
    background-image: url("/src/images/iphone_13_medium.jpg");
    background-position: 0 5rem;
  }
}

@media screen and (max-width: 768px) {
  .iphone_13 {
    height: 30rem;
    flex-direction: column;
    justify-content: center;
  }

  .iphone_13 > .content {
    padding-right: 0;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .iphone_13 > .device-img {
    min-width: 30rem;
    max-width: 30rem;
    background-image: url("/src/images/iphone_13_medium.jpg");
    background-position: 0 1rem;
  }
}
