#gnb {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--nav-bg-color);
  color: var(--font-color-white-200);
  letter-spacing: 0.04rem;
  font-weight: 200;
  font-size: 0.9rem;
  height: 2.75rem;
}

#gnb .desktop-content {
  width: 100%;
  max-width: 1024px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 768px) {
  #gnb > .desktop-content {
    display: none;
  }
}

#gnb .logo {
  width: 2.25rem;
  background-image: url("/src/images/apple-logo.png");
  background-position-x: -1.2rem;
  background-position-y: -0.1rem;
}

#gnb .menu {
  display: flex;
  width: 73%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

#gnb .menu > span {
  line-height: 1.5rem;
}

#gnb .search {
  background-image: url("/src/images/search.svg");
  min-width: 1.2rem;
  background-position-x: 0;
  background-position-y: -0.1rem;
  background-size: cover;
}

#gnb .shopping-bag {
  background-image: url("/src/images/shopping-bag.svg");
  min-width: 1.2rem;
  background-position-x: 0;
  background-position-y: -0.1rem;
}

#gnb .nav-icon {
  margin: 0 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

#gnb .mobile-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  #gnb > .mobile-content {
    display: none;
  }
}
