:root {
  --nav-bg-color: black;
  --font-color-white-100: #fff;
  --font-color-white-200: #f5f5f7;
  --font-color-gray-200: #cccccd;
  --font-color-gray-250: #a1a1a6;
  --font-color-gray-300: #6e6e73;
  --font-color-gray-400: #1d1d1f;
  --font-color-black: #111;
  --font-color-blue: #2997ff;
  --bg-color-iphone: #34283c;
}
