.section-content {
  letter-spacing: -0.864px;
  text-align: center;
}

.section-content .section-content-title {
  font-size: 72px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 24px;
}

.section-content .section-content-description {
  font-size: 32px;
  line-height: 1.125;
  font-weight: 600;
  margin: 0 auto;
  letter-spacing: 0.004em;
  margin-bottom: 40px;
}

.section-content .section-content-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-content .section-content-button {
  min-width: 133px;
  padding: 10px 16px;
  border-radius: 24px;
  font-size: 17px;
  background-color: transparent;
  cursor: pointer;
}

.section-content .section-content-button:not(:first-of-type) {
  margin-left: 14px;
}

/* 밝은 테마 일때 */
.theme-light .section-content {
  color: #1d1d1f;
}

.theme-light .section-content .section-content-button {
  color: #1d1d1f;
  border: 2px solid #1d1d1f;
}

.theme-light .section-content .section-content-button:hover {
  background-color: #1d1d1f;
  color: white;
}

/* 어두운 테마 일때 */
.theme-dark .section-content {
  color: white;
}

.theme-dark .section-content .section-content-button {
  color: white;
  border: 2px solid white;
}

.theme-dark .section-content .section-content-button:hover {
  background-color: #ffffff;
  color: #1d1d1f;
}

/* 반응형 */
@media screen and (max-width: 1060px) {
  .section-contents {
    flex-direction: column;
  }

  .section-content .section-content-title {
    font-size: 56px;
    margin-bottom: 28px;
  }

  .section-content .section-content-description {
    font-size: 28px;
    margin-bottom: 28px;
  }
}

@media screen and (max-width: 768px) {
  .section-contents {
    height: 600px;
    padding-top: 70px;
  }
  .section-content .section-content-title {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .section-content .section-content-description {
    font-size: 19px;
    margin-bottom: 28px;
  }

  .section-content .section-content-button:not(:first-of-type) {
    margin-left: 7px;
  }
}
