:root {
  --white: #f5f5f7;
  --blue: #2997ff;
  --gray-100: #f5f5f5;
  --gray-400: #a2a2a8;
  --black: #1d1d1f;

  --max-width: 980px;
  --header-height: 44px;
  --hero-content-height: 900px;
  --hero-content-small-height: 561px;

  --z-index-header: 30;
}

.hidden {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
}

.w-100 {
  width: 100%;
}

.font-white * {
  color: var(--white);
}

header {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  position: fixed;
  height: var(--header-height);
  z-index: var(--z-index-header);
}

.nav-wrapper--mobile {
  position: absolute;
  width: 100%;
  top: 0;
}

.nav-wrapper {
  position: absolute;
  width: 100%;
  top: -5000px;
  max-width: var(--max-width);
  left: 50%;
  transform: translate(-50%);
}

.nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  padding: 0 1rem;
  user-select: none;
}

.nav li {
  display: flex;
  align-items: center;
}

.nav-menu::after {
  content: "";
  display: block;
  width: 16px;
  height: 8px;
  border-top: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
}

.nav-home {
  display: block;
  width: 16px;
  height: var(--header-height);
  background-image: url("https://www.apple.com/ac/globalnav/6/en_US/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_apple_image__cxwwnrj0urau_large.svg");
}

.nav-search {
  display: block;
  width: 16px;
  height: var(--header-height);
  background-repeat: no-repeat;
  background-size: 16px 88px;
  background-position: 0 -2px;
  background-image: url("https://www.apple.com/ac/globalnav/6/en_US/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_search_image__fca9mfoh8a2q_large.svg");
}

.nav-bag {
  display: block;
  width: 16px;
  height: var(--header-height);
  background-position: 0 2px;
  background-image: url("https://www.apple.com/ac/globalnav/6/en_US/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_bag_image__bmix8075eg4i_large.svg");
}

main {
  padding-top: var(--header-height);
  background-color: var(--gray-100);
}

.heros {
  display: flex;
  flex-direction: column;
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  height: var(--hero-content-small-height);
  width: 100%;
  padding-top: var(--header-height);
  color: var(--black);
  overflow: hidden;
}

.hero.hero--color-reverse {
  color: var(--white);
}

.hero video {
  position: absolute;
  top: 0;
  min-width: 1920px;
  height: 100%;
}

.hero__description {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 4;
  padding-bottom: 3rem;
}

.hero__description h2 {
  font-size: 40px;
  text-align: center;
  font-weight: 600;
}

.hero__description h3 {
  font-size: 19px;
  max-width: 300px;
  text-align: center;
}

.hero__sub-description {
  color: var(--gray-400);
}

.hero__button-wrapper {
  display: flex;
  gap: 1rem;
}

.like-button {
  user-select: none;
  border: 2px solid var(--black);
  border-radius: 25px;
  padding: 0.75rem 1.25rem;
  font-size: 18px;
  cursor: pointer;
  color: var(--black);
}

.like-button:hover {
  background-color: var(--black);
  color: var(--white);
}

.hero--color-reverse .like-button {
  border: 2px solid var(--white);
  color: var(--white);
}

.hero--color-reverse .like-button:hover {
  background-color: var(--white);
  color: var(--black);
}

.hero__watch-logo {
  display: block;
  width: 124px;
  height: 48px;
  background-image: url("./images/watch-logo-small.png");
  background-size: cover;
  color: transparent;
  user-select: none;
}

.hero__ipad-mini-logo {
  display: block;
  width: 160px;
  height: 32px;
  background-image: url("./images/ipad-mini-logo-small.png");
  background-size: cover;
  color: transparent;
  user-select: none;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 12px;
  color: var(--gray-400);
  background-color: #1d1d1f;
  padding: 1rem 1rem 2rem;
}

footer h3 {
  font-weight: 600;
  color: var(--white);
}

.footer-top {
  display: flex;
  gap: 1rem;
}

.footer-item-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

.footer-item-wrapper h3 {
  padding: 1rem 0;
}

.footer-item-wrapper__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-bottom__contact {
  display: block;
  width: 100%;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--gray-400);
}

.footer-bottom__contact a {
  color: var(--blue);
}

.footer-bottom__copyright {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.footer-bottom__copyright ul,
li {
  display: flex;
}

.footer-bottom__copyright ul > li::after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  margin: 0 8px;
  background-color: var(--gray-400);
}

.footer-bottom__copyright ul > li:last-child::after {
  display: none;
}
