.iphone-13-pro {
  background-color: #f5f5f7;
  color: #1d1d1f;
  height: 950px;
}

.iphone-13-pro .product-text {
  width: 57%;
  padding-left: 34px;
  padding-right: 56px;
  flex-direction: column;
  justify-content: center;
}

.iphone-13-pro .figure {
  width: 50%;
  height: 100%;
}

.iphone-13-pro .product-image {
  transform: translate(8px, 220px);
  background-image: url('https://www.apple.com/v/home/he/images/overview/iphone-13-pro/iphone_13_pro__cuke1h6a6seq_large.jpg');
  background-position: center;
  background-repeat: no-repeat;
  width: 910px;
  height: 996px;
}

.iphone-13-pro h3 {
  max-width: 630px;
  margin: 0 auto;
  margin-top: 20px;
}

.iphone-13 {
  color: #fff;
  border-color: #fff;
  background-color: #34283c;
}

.iphone-13 .product-text {
  width: 56%;
  padding-left: 56px;
  padding-right: 34px;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.iphone-13 .figure {
  width: 50%;
  height: 100%;
}

.iphone-13 .product-image {
  width: 149%;
  height: 100%;
  position: absolute;
  background-image: url('https://www.apple.com/v/home/he/images/overview/iphone-13/iphone_13__do56puty4e4i_large.jpg');
  background-position: center;
  background-repeat: no-repeat;
  left: 50%;
  top: 0;
  transform: translateX(-30%);
}

.iphone-13 h3 {
  max-width: 680px;
  margin: 0 auto;
  margin-top: 20px;
}

.apple-watch-7 {
  background-color: #f5f5f7;
  color: #1d1d1f;
}

.apple-watch-7 .content {
  width: 100%;
  max-width: 100%;
  margin: 0;
  flex-direction: column;
}

.apple-watch-7 .product-text {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.apple-watch-7 h3 {
  width: 56%;
}

.apple-watch-7 .figure {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1894px;
  max-height: 524px;
}

.apple-watch-7 .product-image {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 18%);
  background-image: url('https://www.apple.com/v/home/he/images/overview/watch-series-7/watch_series_7__ga5y6pykkqie_large.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: contain;
  width: 141%;
  height: 100%;
}

.apple-watch-7 h2 {
  background-size: 218px 83px;
  background-image: url('https://www.apple.com/v/home/he/images/overview/watch-series-7/logo_watch_series_7__cjyjhfcpj9le_large.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 99px;
  min-height: 83px;
}

.apple-watch-7 h2 span {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.apple-watch-7 h3 {
  max-width: 820px;
  margin: 0 auto;
  margin-top: 29px;
}

.apple-watch-7 .notify {
  margin-top: 40px;
  font-size: 17px;
  color: #6e6e73;
}

.apple-watch-7 .link-container {
  margin-top: 15px;
}

.ipad-mini {
  background-color: #fff;
}

.ipad-mini .content {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.ipad-mini .product-text {
  max-width: 50%;
  width: 48%;
  padding-left: 58px;
  padding-right: 34px;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.ipad-mini .figure {
  position: relative;
  width: 47%;
  max-width: 50%;
  height: 100%;
  max-height: 936px;
}

.ipad-mini .product-image {
  position: absolute;
  background-image: url('https://www.apple.com/v/home/he/images/overview/ipad-mini/ipad_mini__ck4jhalcqcnm_large.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  left: 50%;
  top: unset;
  bottom: 0;
  width: 140%;
  height: 100%;
  transform: translate(-31%, 18%);
}

.ipad-mini h2 {
  background-image: url('https://www.apple.com/v/home/he/images/overview/ipad-mini/logo_ipad_mini__sttk80xqgoam_large.png');
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  min-height: 83px;
}

.ipad-mini h2 span {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
}

.ipad-mini h3 {
  max-width: 620px;
  margin: 0 auto;
  margin-top: 16px;
}

.ipad {
  background-color: #f5f5f7;
  height: 1013px;
}

.ipad .content {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.ipad .product-text {
  width: 72%;
  margin-right: 105px;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.ipad .figure {
  position: relative;
  width: 100%;
}

.ipad .product-image {
  position: absolute;
  background-image: url('https://www.apple.com/v/home/he/images/overview/ipad/ipad__0h4qm01t36qq_large.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  left: 0;
  top: 0;
  transform: translate(50px, 94px);
  height: 815px;
  width: 865px;
}

.ipad h2 {
  background-image: url('https://www.apple.com/v/home/he/images/overview/ipad/logo_ipad_mini__sttk80xqgoam_large.png');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 83px;
}

.ipad h3 {
  max-width: 620px;
  margin: 0 auto;
  margin-top: 16px;
}
