header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  background-color: #000;

  font-size: 17px;
  line-height: 1.25;
  text-align: left;

  z-index: 1;
}

nav {
  max-width: 980px;
  height: 44px;
  margin: 0 auto;
}

#header-nav-list-mobile {
  display: none;
}

#header-nav-list {
  width: auto;
  display: flex;
  justify-content: space-between;
}

#header-nav-list > li {
  line-height: 44px;
}

#header-nav-list a {
  color: #f5f5f7;
  font-size: 14px;
  letter-spacing: -0.14px;
}

#header-logo-icon > a {
  display: inline-block;
  width: 38px;
  height: 44px;

  background-image: url("https://www.apple.com/ac/globalnav/6/en_US/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_apple_image__cxwwnrj0urau_small.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 44px;
}

#header-search-icon > a {
  display: inline-block;
  width: 38px;
  height: 44px;

  background-image: url("https://www.apple.com/ac/globalnav/6/en_US/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_search_image__fca9mfoh8a2q_large.svg");
  background-repeat: no-repeat;
  background-position: 10px 0;
  background-size: 18px 88px;
}

#header-shopping-icon > a {
  display: inline-block;
  width: 38px;
  height: 44px;

  background-image: url("https://www.apple.com/ac/globalnav/6/en_US/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_bag_image__bmix8075eg4i_large.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 17px 44px;
}

.hidden-words {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}

@media screen and (max-width: 768px) {
  #header-nav-list-mobile {
    display: flex;
    justify-content: space-between;
  }

  #header-nav-list {
    display: none;
  }

  #header-menu-icon > a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 38px;
    height: 44px;
  }

  #menu-icon {
    width: 20px;
    height: 10px;

    border: 1px solid white;
    border-left: none;
    border-right: none;
  }
}
