.card {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.card__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  height: 100%;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card__image-wrapper {
  position: relative;
  display: grid;
  overflow: visible;
  height: 100%;
  place-items: center;
}

.card__image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
