.hero-card .card__container {
  height: 713px;
}

@media screen and (min-width: 768px) {
  .hero-card .card__container {
    height: 922px;
  }
}

@media screen and (min-width: 1069px) {
  .hero-card .card__container {
    height: 1013px;
  }
}

.hero-card .card__content {
  margin-top: 420px;
}

@media screen and (min-width: 768px) {
  .hero-card .card__content {
    justify-content: flex-end;
    height: 100%;
    margin-top: 0;
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 1069px) {
  .hero-card .card__content {
    margin-bottom: 170px;
  }
}
