.ipad-card.card {
  background-color: rgb(245, 245, 247);
}

.ipad-card .card__container {
  height: 700px;
}

@media screen and (min-width: 768px) {
  .ipad-card .card__container {
    height: 1030px;
  }
}

@media screen and (min-width: 1069px) {
  .ipad-card .card__container {
    display: flex;
    flex-direction: row-reverse;
    height: 900px;
  }
}

.ipad-card .card__content {
  margin-top: 70px;
}

@media screen and (min-width: 1069px) {
  .ipad-card .card__content {
    z-index: 2;
    width: 50%;
    height: 100%;
    margin-top: 0;
  }
}

@media screen and (min-width: 1069px) {
  .ipad-card .card__image-wrapper {
    width: 865px;
    height: 100%;
  }
}

.ipad-card .card__image {
  height: 334px;
  background-image: url("../images/ipad/ipad__small_2x.jpg");
  background-position: 50%;
  transform: translateY(10px);
}

@media screen and (min-width: 768px) {
  .ipad-card .card__image {
    width: 600px;
    height: 565px;
    background-image: url("../images/ipad/ipad__medium_2x.jpg");
    background-position: 50%;
    transform: translateY(10px);
  }
}

@media screen and (min-width: 1069px) {
  .ipad-card .card__image {
    width: 865px;
    height: 815px;
    background-image: url("../images/ipad/ipad__large_2x.jpg");
    background-position: bottom;
    background-size: 865px 815px;
    transform: translateX(100px);
  }
}
