.watch-series-7-card.card {
  background-color: #f5f5f7;
}

.watch-series-7-card .card__container {
  height: 625px;
}

@media screen and (min-width: 768px) {
  .watch-series-7-card .card__container {
    height: 950px;
  }
}

@media screen and (min-width: 1069px) {
  .watch-series-7-card .card__container {
    height: 900px;
  }
}

.watch-series-7-card .card__image {
  height: 232px;
  background-image: url("../images/watch_series_7/watch_series_7__small_2x.jpg");
  background-position-x: 22%;
  background-size: cover;
  transform: translateY(30px);
}

@media screen and (min-width: 768px) {
  .watch-series-7-card .card__image {
    width: 100%;
    height: 393px;
    background-image: url("../images/watch_series_7/watch_series_7__medium_2x.jpg");
    background-position-x: 22%;
    background-size: contain;
    transform: translateY(110px);
  }
}

@media screen and (min-width: 1069px) {
  .watch-series-7-card .card__image {
    width: 141%;
    min-width: 1490px;
    max-width: 1894px;
    height: 524px;
    background-image: url("../images/watch_series_7/watch_series_7__large_2x.jpg");
    background-position: 50%;
    transform: translateY(130px);
  }
}
